/*Asterick wildcard selector used to overide styles added by default by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
/*header*/
header {
    background-color: blue;
}
/*main*/
main {
    background-color: lightblue;

}
/*footer*/
footer {
    background-color: coral;
}